* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Playfair Display', serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
}

.header {
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 0;
}

.name {
    font-size: 20px;
    padding: 5px;
}

@font-face {
    font-family: 'La Sonnambula';
    src: url('./fonts/la-sonnambula-demo-ffp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



.options-bar ul{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    gap: 20px;
}

.header img {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
}

.product {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around;
    padding: 20px;
}

.product div {
    border: 1px solid #FBCCE7;
    margin: 10px;
    padding: 10px;
    width: calc(25% - 40px);
    box-sizing: border-box;
}

.product img{
    width: 100%;
    height: auto;
}

.product h2, p {
    font-size: 18px;
    color: black;
    text-align: center;
}

.product p {
    font-size: 16px;
    color: rgb(102, 102, 102);
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 12px;
}
